/* 
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Molle', cursive;
 */

/* background colors */
.molle {
  font-family: 'Molle', cursive;
}

.text-white {
  color: #fff;
}

.bg-light-green {
  background-color: #79D5D4;
}

.bg-blue-fade {
  background: rgb(31, 183, 174);
  background: radial-gradient(circle, rgba(31, 183, 174, 1) 0%, rgba(121, 213, 212, 1) 60%, rgba(247, 247, 247, 1) 100%);
}

.bg-light-gray {
  background-color: #f7f7f7;
}

colors-light {
  color: #f7f7f7;
}

colors-dark {
  color: #808080;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: auto;
  color: #333;
  margin: 0;
  background-color: #f7f7f7;
  font-family: 'Raleway', sans-serif;
}

/******************************/
/********** defaults **********/
a,
a:visited {
  color: #12afa3;
  text-decoration: none;
}

a:hover {
  color: #237879;
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 0;
}

p {
  font-family: 'Raleway', sans-serif;
  margin: .2em 0;
}

/*****************************/


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.container-row {
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

header {
  padding: .5em;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h2 {
  display: inline;
  margin: 0 .5em;
  font-family: 'Molle', cursive;
  color: #333;
}

.header-left h2 a {
  color: #333;
}

.header-left h2 a:hover {
  color: #237879;
}

.header-right {
  display: flex;
  flex-direction: row;
  margin: 1em;
}


/* Search and cart section */
.search-login-reg {
  display: flex;
  justify-content: space-between;
}

.box {
  /* search box */
  margin-right: 1rem;
}

.cart {
  font-size: 1em;
}

.cart a,
.cart a:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #808080;
}

.cart a span {
  padding: 0 4px;
}

.form-container {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.form-container input#search {
  width: 150px;
  height: 30px;
  border: 1px#ccc solid;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 2rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.form-container .icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: .5rem;
  margin-top: .4rem;
  z-index: 1;
  color: #4f5b66;
}

.form-container input#search::-webkit-input-placeholder {
  color: #65737e;
}

.form-container input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}

.form-container input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}

.form-container input#search:-ms-input-placeholder {
  color: #65737e;
}

/*******************************************************/
/*******************   SECTION A ***********************/
/******** showcase mobile and desktop animation ********/
.sec-a {
  text-align: center;
}

.sec-a h2 {
  text-align: center;
}

.showcase-mobile {
  width: 100vw;
  height: 25vh;
  background: url('../images/arctic_background/mobile_bk.svg') no-repeat;

}

.upper-banner {
  position: absolute;
  text-align: center;
}

.showcase-desktop {
  display: none;
  position: relative;
  justify-content: center;

  margin-top: 1em;
  overflow: hidden;
  width: 100%;
  min-height: 400px;
  background: url('../images/arctic_background/arctic_no_forground.svg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.showcase-desktop-forground {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/arctic_background/forground.svg') no-repeat;
  z-index: 4;
}

/* Animated clouds in showcase image */
.cloud1 {
  position: absolute;
  background: url('../images/arctic_background/cloud1.svg') no-repeat;
  width: 320px;
  height: 64px;
  top: 50px;
  left: 5px;

  animation-name: cloud1Move;
  animation-duration: 25s;
  animation-iteration-count: 4;
  animation-timing-function: linear;

  z-index: 5;

}

.cloud2 {
  position: absolute;
  background: url('../images/arctic_background/cloud2.svg') no-repeat;
  width: 212px;
  height: 40px;
  top: 20px;
  left: 250px;
  -webkit-animation: cloud1Move 30s infinite;
  /* Safari 4.0 - 8.0 */

  animation-name: cloud1Move;
  animation-duration: 35s;
  animation-iteration-count: 2;
  animation-timing-function: linear;

  z-index: 2;

}

.cloud3 {
  position: relative;
  background: url('../images/arctic_background/cloud3.svg') no-repeat;
  width: 118px;
  height: 22px;
  top: 150px;
  left: 150px;

  animation-name: cloud1Move;
  animation-duration: 30s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  z-index: 1;

}

@keyframes cloud1Move {
  from {
    left: -250px;
    transform: translate3d(-250px, 0px, 0px);

  }

  to {
    transform: translate3d(1000px, 0px, 0px);

  }
}


.skydive {
  position: absolute;
  width: 100px;
  height: 158px;
  background: url(../images/icons/pendive_parachute.svg) no-repeat center top;
  -webkit-animation: mymove linear 10s forwards;
  /* Safari 4.0 - 8.0 */
  animation: mymove linear 10s forwards;
  z-index: 5;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    top: -100px;
  }

  to {
    top: 200px;
  }
}

/* Standard syntax */
@keyframes mymove {
  from {
    top: 0px;
  }

  to {
    top: 200px;
  }
}


/*******************************/



/*******************************/
/***** BANNER INFO SECTION *****/

.banner {
  flex-direction: column;
  text-align: center;
  padding: 1em;
}


/*****************************************/


/*******************************/
/********** SECTION B **********/


.sec-b-left {
  margin: .5em;
}

.sec-b-left img {
  display: block;
  margin: 0 auto;
}

.sec-b-left h2 {
  border: 2px red solid;
  border-radius: 5px;
  padding: .2em 1rem;
  margin: .5em;
}

.sec-b-right {
  margin: .3em;
  padding-top: .5em;
  border-top: 1px #ccc solid;
}

/*******************************/


/*******************************/
/********** SECTION C **********/

.sec-c {
  flex-basis: 30%;
}

.sec-c h3 {
  padding: .5em;
  color: #12AFA3;
}

.sec-c-items {
  flex-direction: column;
  width: 75%;
  justify-content: center;
  padding: 1rem;
  text-align: center;

}

.sec-basis {
  width: 50%;
  margin: 0 auto;
  min-height: 64px;

  -o-transition: transform .2s ease-in-out;
  -ms-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -webkit-transition: transform .2s ease-in-out;
  /* ...and now for the proper property */
  transition: transform .5s ease-in-out;
}

#sec-c-card1 {
  background: url('../images/icons/pengdrive-font-round.svg') no-repeat 50% 0;
}

#sec-c-card2 {
  background: url('../images/icons/pengdrive-font-size.svg') no-repeat 50% 0;
}

#sec-c-card3 {
  background: url('../images/icons/shipping.svg') no-repeat 50% 0;
}

#card1-hover:hover #sec-c-card1 {
  transform: rotateY(180deg);
  background: url('../images/icons/pengdrive-egg-back.svg') no-repeat 50% 0;
}

#card2-hover:hover #sec-c-card2 {
  transform: rotate(90deg);
}

#card3-hover:hover #sec-c-card3 {
  width: 60%;
  background: url('../images/icons/shipping_hover.svg') no-repeat 50% 0;
}

/*******************************/


/*******************************/
/********** SECTION D **********/
.sec-d h3,
.sec-d p {
  color: #333;

}

/*******************************/


/*******************************/
/********** SECTION E **********/
.trending {
  padding: 1em;
}

.ranking-container {
  display: flex;
  justify-content: space-between;
}

.ranking {}

.top-row {
  display: flex;
}

.igloo-rank {
  flex: 2;
  min-height: 150px;
  background: url('../images/arctic_background/igloo.svg') no-repeat;
  background-size: contain;
}

.top-ten {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-ten>div {
  flex: 0 50%;
}

.rank-items {
  text-align: center;
}

#rank1,
#rank2,
#rank3,
#rank4,
#rank5,
#rank6,
#rank7,
#rank8,
#rank9,
#rank10 {
  opacity: 1;
}

.moving-peng {
  flex: 1;
  background: url('../images/icons/wintercoat.svg') no-repeat;
  width: 68px;
  height: 100px;
  align-self: center;
}

.rank-items:hover {
  opacity: .6;
}

.rank-items h6 {
  font-family: 'Molle', cursive;
  margin-bottom: .2em;
}

/*******************************/




/*******************************/
/************* CARDS  **********/
.cards {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  text-align: center;
}

.card {
  display: flex;
  width: 50%;
  justify-content: center;
  padding: 1em;
  margin: 1rem;
  border-radius: 15px;

  -webkit-box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.45);
  box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.45);


  background: rgba(204, 204, 204, 1);
  background: -moz-linear-gradient(45deg, rgba(204, 204, 204, 1) 0%, rgba(247, 247, 247, 1) 76%, rgba(247, 247, 247, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(204, 204, 204, 1)), color-stop(76%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(247, 247, 247, 1)));
  background: -webkit-linear-gradient(45deg, rgba(204, 204, 204, 1) 0%, rgba(247, 247, 247, 1) 76%, rgba(247, 247, 247, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(204, 204, 204, 1) 0%, rgba(247, 247, 247, 1) 76%, rgba(247, 247, 247, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(204, 204, 204, 1) 0%, rgba(247, 247, 247, 1) 76%, rgba(247, 247, 247, 1) 100%);
  background: linear-gradient(45deg, rgba(204, 204, 204, 1) 0%, rgba(247, 247, 247, 1) 76%, rgba(247, 247, 247, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#f7f7f7', GradientType=1);


  transform: scale3d(1, 1, 1);
  transition: transform .2s ease-in-out;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-inner a {
  display: inline-block;
  padding: .5em 0;
  font-size: 1.2em;
}

.card-content {
  display: none;
}

/* .card:hover {
  transform: scale3d(1.2, 1.2, 1.2);
} */



/*******************************/


/**************************************/
/*************** FOOTER **************/
footer {
  min-height: 100px;
  background-color: #6d6c6c;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-evenly;
  align-content: center;

}

.footer-inner {
  display: flex;
  align-items: center;
  padding: 1em;
  color: #FFFFFF;

}

.footer-inner h3 {
  display: inline;
}

.footer-inner a {
  display: block;
}


/**************************************/
/*********** order form styles ********/
.order-form {
  padding: 0;
  border-radius: 10px;
  background: url('../images/arctic_background/order-form-bk-3.svg') no-repeat 50% 0;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
  color: #2c2c2c;
  width: 100%;
  height: 100%;

}

.form-items label {
  margin: .5em 0 .2em 0;
}

.form-items input {
  width: 280px;
  padding: .5em .5em;
  border-radius: 10px;
  border: 1px rgb(64, 145, 131) solid;

}

.form-items input:focus {
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgb(42, 221, 51);

}

.form-items .inp-row {
  display: flex;
  flex-direction: column;
}

.inp-row-item {
  display: flex;
  flex-direction: column;
  margin-right: 2em;

}

.inp-row-item input {
  width: 180px;
}

.inp-row-item select {
  padding: .4em 0;
}

.form-items input[type=submit] {
  width: 100px;
  margin: 1em 0;
  font-weight: bold;
  background-color: #37c8ab;
  color: white;
  border: 1px rgb(64, 145, 131) solid;
}

.form-items input[type=submit]:hover {
  color: #37c8ab;
  background-color: white;
}



@media (min-width: 600px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .sec-b,
  .sec-c,
  .sec-d,
  .sec-e {
    padding: 2em;
  }

  .sec-b {
    justify-content: space-around;
    border-bottom: 1px #ccc solid;
  }

  .sec-b-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sec-b-right {
    padding-top: 0;
    border-top: none;
  }

  .sec-b-left h2 {
    display: inline-block;
  }

  .showcase-mobile {
    display: none;
  }

  .showcase-desktop {
    display: flex;
    max-width: 960px;
    margin: auto;
  }


  .sec-c {
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: space-around;
  }

  .sec-d h3 {
    color: #FFFFFF;
    font-size: 1.8em;
  }

  .sec-d p {
    color: #FFFFFF;
  }

  .sec-e h3 {
    font-size: 1.8em;
  }

  .ranking-container {
    max-width: 960px;
    margin: auto;
  }

  .cards {
    flex: 1 0 0;
  }

  .card-inner {

    flex: 1 0 0;
  }

  .card-content {
    max-height: 265px;
    overflow: hidden;
    display: block;
  }

  .card-inner p {

    color: #333;
  }

  .ranking {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-grow: 1;
    margin: 0 .5em;
    position: relative;
  }

  .igloo-rank {
    min-width: 215px;
    min-height: 160px;
    background: contain;
  }

  .top-ten {
    display: flex;
  }

  .top-ten>div {
    flex: 0 1;
  }


  #rank1,
  #rank2,
  #rank3,
  #rank4,
  #rank5,
  #rank6,
  #rank7,
  #rank8,
  #rank9,
  #rank10 {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    opacity: 0;
  }

  .moving-peng {
    background: url('../images/icons/wintercoat.svg') no-repeat;
    width: 68px;
    height: 100px;
    position: absolute;
    top: 35px;
    left: 330px;
    z-index: 99;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
  }

  .form-items .inp-row {
    flex-direction: row;
  }

}